
#content{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin:auto;
    background-color: rgb(156, 156, 255)
    
}
input{
    border:2px solid green;
    width:60%;
    padding: 7px;
    margin-top: 1px;
    border-radius: 10px;
}
#dataviewer{
    max-width: 100%;
}
